body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    background-image: url(maxim-tolchinskiy-Oe1MemZ3rWI-unsplash.jpg);
    background-size: cover;
}

.logo {
    width: 15%;
    background-color: rgba(0, 0, 0, .5);
}

.logo-text {
    
}